body {
    margin: 0;
    font-family: 'Open Sans';
    box-sizing: border-box;
}


h1 {
    text-align: center;
}


.main-content {
    padding: 24px;
}


.d-block {
    display: flex;
    align-items: center;
    justify-content: center;
}


.d-hide {
    display: none;
}


.pokemon-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 36px;
}


.pokedex {
    position: relative;
    height: 180px;
    width: 200px;
    color: white;
    padding: 24px;
    border-radius: 40px;
    box-shadow: 0px 3px 8px -1px black;
}


.pokedex-detail-view {
    height: 454px;
    width: 280px;
    color: white;
    border-radius: 40px;
    box-shadow: 0px 3px 8px -1px black;
}


.pokedex:hover {
    font-size: 0;
    opacity: 0.8;
}


.pokedex:hover .pokemon-type {
    background-color: transparent;
}


.pokedex:hover .pokemonImage {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}


.overview-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
}


.pokemon-name {
    padding-top: 12px;
}


.pokemon-detail-image{
    height: 200px;
    object-fit: cover;
}


#pokemon-detail-view {
    background-color: rgba(0, 0, 0, 0.70);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    backdrop-filter: blur(4px);
    padding-top: 120px;
}


.pokedex-detail-view:hover {
    cursor: pointer;
}


.chart-container {
    background-color: white;
    border-radius: 20px;
}


.sliderArrow {
    font-size: 48px;
    padding: 20px;
    background: unset;
    border: 0;
    color: #f2f2f2;
  }
  
.sliderArrow:hover {
    cursor: pointer;
    opacity: 0.3;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    transition: 1s ease;
}

.pokemon-type {
    background-color: rgba(0,0,0,0.4);
    text-align: center;
    border-radius: 40px;
    padding: 6px;
    margin: 4px;
    margin-bottom: 12px;
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.45) ;
}


.headline {
    display: flex;
    align-items: center;
    padding: 12px;
    gap: 8px;
}


.searchfield {
    padding-right: 12px;
}


.search-input {
    height: 24px;
}

.pokemon-container {
    font-size: 14px;
}


.load-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 64px;
}


.load-more-pokemon-btn {
    border-radius: 40px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: #FF1A1A;
    color: white;
    font-weight: bold;
    font-size: 16px;
    box-shadow: 0px 3px 8px -1px black;
}

.load-more-pokemon-btn:hover {
    opacity: 0.8;
    cursor: pointer;
    font-size: 20px;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}

.pokedex.poison {
    background-color: #9b30ff;
}


.pokedex.electric {
    background-color: #FFCE4B
}


.pokedex.ground {
    background-color: #ca8179
}


.pokedex.fairy {
    background-color: #ff69b4;
}


.pokedex.fighting {
    background-color: #ff6f61;
}

.grass {
    background-color: green;
}


.fire {
    background-color: #F7786B
}

.water {
    background-color: #58ABF6
}

.normal {
    background-color: grey;
}

.bug {
    background-color: #2CDAB1
}


.pokedex.rock {
    background-color: #d3d3d3;
}

.pokedex.psychic {
    background-color: #8e70e1;
}

.ghost {
    background-color: #ddd495;
}

.ice {
    background-color: #A9E4FF;
}

.dragon {
    background-color: #FF5A00;
}

.dark {
    background-color: #3C3C3C;
}

